<div>
    <div class="d-flex justify-content-between py-2 px-3">
        <h2>Create PDF</h2>
        <button class="btn btn-success btn-sm px-3 py-0" (click)="createPDF()">Create PDF</button>
    </div>
    <editor class="form-control create-editor" apiKey="{{apikey}}" [init]="{
        plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage advtemplate ai mentions tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss markdown',
        toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name',
        mergetags_list: [
        { value: 'First.Name', title: 'First Name' },
        { value: 'Email', title: 'Email' },
      ],
    }" [(ngModel)]="pdfText" data=""></editor>

</div>

<!-- <textarea type="text" [(ngModel)]="pdfText" placeholder="Enter text"> </textarea> -->
